.typeWrapper{
  display: flex;
  align-items: center;
  margin-block: 10px;
  overflow-x: auto;
  cursor: pointer;
  flex-wrap: wrap;
  &__type{
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin-right: 10px;
    white-space: nowrap;
    margin-bottom: 8px;
    &.active{
      background: #1890ff;
      color: white;
    }
  }
}

