*, ::after, ::before {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-height: 100vh;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    object-fit: cover;
}

a{
    text-decoration: none !important;
}

html,
body {
    position: relative;
    font-family: 'Roboto-Regular' !important;
    line-height: 1.2;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

textarea{
    resize: none !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ant-upload-list{
    display: none;
}
.ant-table-content{
    overflow: auto;
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
h3{
    font-size: calc(1.3rem + .6vw);
}
h5{
    font-size: 1.25rem;
}
.slick-track{
    margin: 0;
}

@font-face{
    font-family: 'Roboto-Regular';
    src: url('/git-travel-app/fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('/git-travel-app/fonts/Roboto-Regular/Roboto-Regular.eot?iefix') format('eot'),
    url('/git-travel-app/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('/git-travel-app/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('/git-travel-app/fonts/Roboto-Regular/Roboto-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Light';
    src: url('/git-travel-app/fonts/Roboto-Light/Roboto-Light.eot');
    src: url('/git-travel-app/fonts/Roboto-Light/Roboto-Light.eot?iefix') format('eot'),
    url('/git-travel-app/fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
    url('/git-travel-app/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
    url('/git-travel-app/fonts/Roboto-Light/Roboto-Light.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Medium';
    src: url('/git-travel-app/fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('/git-travel-app/fonts/Roboto-Medium/Roboto-Medium.eot?iefix') format('eot'),
    url('/git-travel-app/fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('/git-travel-app/fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
    url('/git-travel-app/fonts/Roboto-Medium/Roboto-Medium.svg#webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Black';
    src: url('/git-travel-app/fonts/Roboto-Black/Roboto-Black.eot');
    src: url('/git-travel-app/fonts/Roboto-Black/Roboto-Black.eot?iefix') format('eot'),
    url('/git-travel-app/fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
    url('/git-travel-app/fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'),
    url('/git-travel-app/fonts/Roboto-Black/Roboto-Black.svg#webfont') format('svg');
    font-weight: 900;
    font-style: normal;
}


div.arrow_box{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:-100px -50px;
    border:solid 5px #fff;
    color: red;
    cursor: pointer;
    overflow:hidden;
}
div.arrow_box img{
    min-width:100px;
    width:auto;
    max-height:100px;
    height:auto;
}

.arrow_box:after {
    top: 5px;
    left: 5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;


    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 20px;
    margin-left: -20px;
}

.ant-tabs-tab-remove{
    display: none;
}

.gmnoprint,.gm-fullscreen-control{
    display: none;
}
